<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Hortonworks Community Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <a id="back-to-top" href="#" class="btn btn-default back-to-top" role="button" title="Back to top of page" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up"></i></a>

    <div class="ps mast">
        <div class="site">
            <div class="hwx-logo"><a title="Hortonworks - Develops, Distributes and Supports Enterprise Apache Hadoop." href="http://hortonworks.com">Hortonworks - Develops, Distributes and Supports Enterprise Apache Hadoop.</a></div>
        </div>
    </div>

    <section class="ps titlebar">
        <div class="site">
            <h1 class="title">Hortonworks Tutorials. Learn Hadoop.</h1>
        </div>
    </section>
    <div class="container-wrap">
        <div class="container content">

            <section class="ps dev-resources">
                <div>
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-10">
                            <h2>Learn the building blocks of Hadoop<sup>&reg;</sup></h2>

                            <p>At the Hortonworks tutorials site you'll be able to find a wide range of tutorials that span many areas of the Hadoop ecosystem that will teach you to learn how to ingest, store, analyze, process all of your data.  </p>
                        </div>
                    </div>
                </div>
            </section>
	
	<ul>
	{% for page in site.pages %}
		{% if page.tutorial %}
			<li><a class="page-link" href="{{ page.url }}">{{ page.title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
			
			
        <hr class="separator">

        <div class="more-pane">
            <h2>More from Hortonworks</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="more-about">
                        <h3>About Hortonworks</h3>
                        <p>Hortonworks is a leader in Apache Hadoop, the open source platform for managing and analyzing Big Data. The Hortonworks Data Platform provides a growing ecosystem to build and deploy Big Data solutions.</p>
                        <a class="btn lg orange">Hortonworks.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="more-resources">
                        <h3>Developer resources</h3>
                        <div class="row">
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/products/hortonworks-sandbox/#install">Sandbox</a></div>
                            <div class="col-md-4"><a class="res" href="http://www.slideshare.net/hortonworks" target="_blank">Slideshares</a></div>
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/events/">Events</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/webinars/">Webinars</a></div>
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/tutorials/">Tutorials</a></div>
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/training/">Training</a></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/community/forums/">Community Forums</a></div>
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/blog/type/dev/">Developer Blog</a></div>
                            <div class="col-md-4"><a class="res" href="http://hortonworks.com/partners/learn/">Partners Enablement</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="more-social">
                        <h3>Social channels</h3>
                        <a href="http://facebook.com/hortonworks/" class="channel" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/#!/hortonworks" class="channel" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.linkedin.com/company/hortonworks" class="channel" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>


        </div>

    </div>
    <div id="footer">
        <div class="hwx-logo"><a title="Hortonworks - Develops, Distributes and Supports Enterprise Apache Hadoop." href="/">Hortonworks - Develops, Distributes and Supports Enterprise Apache Hadoop.</a></div>

        <p class="copy">© 2011-2015 Hortonworks Inc. All Rights Reserved.<br>
            Hadoop and the Hadoop elephant logo are trademarks of the Apache Software Foundation.<br>
        <p style="text-align: center;"> <img src="http://docs.hortonworks.com/HDPDocuments/themes/assets/Hortonworks_Footer_CC-BY-SA_Copyright.png" alt="Hortonworks, Inc." align="center" style="border: none; margin: 4px;" /></p>
        <p style="color: rgba(255,255,255,.1);font-weight: normal;">This work by <a href="http://www.hortonworks.com" alt="Hortonworks" title="Hortonworks" target="_blank">Hortonworks, Inc.</a> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/" alt="Creative Commons Attribution" title="Creative Commons Attribution" target="_blank">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>

    </div>

    <script src="js/main.min.js"></script>    
</body>

</html>